<footer class="page-footer font-small text-white bg-dark fixed-bottom">
  <div class="container">  
    <div class="row">
      <div class="col">
      <div class="footer-copyright text-center mt-3">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook-official fa-2x"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.github.com" target="_blank"><i class="fa fa-github fa-2x"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
          </li>
        </ul>
        <p>Copyright &copy; 2019</p>
      </div>
      </div>
    </div>
  </div>  
</footer>