<div class="container">
  <div class="mt-5">
    <h1 class="text-center pt-5 display-4">About Me.</h1>
    <hr>
  </div>
  
  <div class="row">
    <div class="card col-sm-4" style="width:100%;">
      <img class="card-img-top py-3" style="max-width:300px;" src="./assets/images/profile.jpg" alt="">    
    </div>
    <div class="text-center col-sm-8">
      <p class="text-justify">My name is David and I started learning how to create software in 2014.</p>
      <div class="text-left">
        <h5>Frontend:</h5>
        <ul>
          <li>
            Angular 6+
          </li>
          <li>
            React.js
          </li>
        </ul>
      </div>
      <div class="text-left">
        <h5>Backend:</h5>
        <ul>
          <li>
            asp.net
          </li>
          <li>
            node.js
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>