<div class="container mt-5">
  <div class="row">
    <div class="card col-sm-4 mt-5" style="width:100%;">
      <img class="card-img-top py-3" style="max-width:300px;" src="./assets/images/profile.jpg" alt="">
      
    </div>
    <div class="text-center my-5 col-sm-8">
      <h1 class="display-4">About Me.</h1>
    <hr>
      <p class="text-justify">Magna proident magna enim Lorem non pariatur non irure fugiat. Aliqua minim reprehenderit 
        cupidatat magna incididunt culpa laborum voluptate ipsum voluptate laboris. Nostrud minim officia non commodo.
      Nostrud exercitation ullamco ipsum ut culpa tempor incididunt excepteur fugiat tempor ut veniam voluptate occaecat. 
      In eiusmod dolor velit reprehenderit duis aliquip nisi tempor cupidatat voluptate labore. Ea incididunt id cupidatat
      ad veniam Lorem minim. Exercitation officia esse anim dolor et cupidatat consectetur. Velit eu aliquip nisi nulla 
      sint sint nisi officia adipisicing do sunt aliqua. Exercitation non magna aute sint id aliqua incididunt nisi amet 
      veniam.</p>
      <div class="d-inline-block text-left col-sm-4">
        <h5>Frontend:</h5>
        <ul>
          <li>
            Angular 6+
          </li>
          <li>
            React.js
          </li>
        </ul>
      </div>
      <div class="d-inline-block text-left col-sm-4">
        <h5>Backend:</h5>
        <ul>
          <li>
            asp.net
          </li>
          <li>
            node.js
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>