<div class="container">
  <div class="mt-5 col text-center">
    <h3 class="display-4 pt-5 mb-3">Contact Me.</h3>
    <hr>
    <form>
      <input type="text" class="form-control my-4" ngModel placeholder="Name" id="name">
      <input type="text" class="form-control mb-4" ngModel placeholder="Email" id="email">
      <div class="form-group">
        <textarea name="" id="message" cols="30" rows="10" class="form-control mb-4" placeholder="Message"></textarea>
        <button class="btn btn-primary btn-large">Submit</button>
      </div>
    </form>
  </div>
</div>