<!-- HOME SECTION -->
<section id="home-section" class="mt-5">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-4">
         <img src="../assets/images/profile.jpg" alt="" 
        class="rounded-circle my-5 mx-auto img-fluid img-thumbnail" id="profileImg">
      </div> -->
      <div class="col text-center py-5">
        <h1 class="display-4">Hello.</h1>
        <p>My name is David and I am a developer with experience in
          game and web development.
        </p>
      </div>
    </div>
  </div>
</section>