<!-- HOME SECTION -->
<section id="home-section" class="mt-5">
  <div class="container">
    <div class="row">      
      <div class="col text-center">
        <h1 class="display-4 pt-5">Hello.</h1>
        <hr>
        <p>My name is David and I am a full-stack web developer with experience in
          game development.</p>  
      </div>
    </div>
  </div>
    <div class="d-none d-sm-block">
    <img class="img-fluid" src="./assets/images/carver_diffuse_render_1_cropped.jpeg" alt="">  
  </div>
</section>