<!-- HOME SECTION -->
<section id="home-section" class="mt-5">
  <div class="d-none d-sm-block">
    <img class="img-fluid" src="./assets/images/carver_diffuse_render_1.jpeg" alt="">  
  </div>
  
  <div class="container">
    <div class="row">      
      <div class="col text-center py-5">
        <h1 class="display-4">Hello.</h1>
        <p>My name is David and I am a full-stack web developer with experience in
          game development.
        </p>
      </div>
    </div>
  </div>
</section>